name: Test Kubernetes

on:
  # push:
  #   branches:
  #     - main
  pull_request:
  workflow_dispatch:

jobs:
  test-k8s:
    name: Test k8s
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 #v4.3.1
      with:
        version: v3.19.0

    - uses: medyagh/setup-minikube@v0.0.21

    - name: wait for kube-dns
      run: kubectl wait --namespace kube-system --for=condition=ready pod -l k8s-app=kube-dns --timeout=30s

    - name: Install and Tests
      shell: bash
      run: ./tests/k8s/install.bash
